/* 1- Common Styles */
/* 
    - overlay
    - opacity hover
    - section header
    - section padding
    - hover effect 1 ( left to right )
    - hover effect 2 ( top to bottom )
*/
/* le role d'overlay est d'ajouter layer un couleur au dessus de background avec la 
position relative (pour parent) et absolute (pour le fils)  */
.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:rgba(0,0,0, 0.7);
    top: 0;
    left: 0;
}
.hover-opacity{
    transition: opacity .5s;
}
.hover-opacity:hover{
    opacity: 0.8;
}
/* effect left to right and top to bottom*/
.ltr-effect,
.tb-effect{
   position: relative;
}
.ltr-effect::after,
.tb-effect::after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: #333;
}
/* effect left to right  */
.ltr-effect::after{
    width: 0%;
    transition: width .5s;
}
.ltr-effect:hover::after{
    width: 100%;
}
/* effect top to bottom */
.tb-effect::after{
    height: 0;
    transition: height .5s;
}
.tb-effect:hover::after{
    height: 100%;
}

/* 2- General css style */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
.container{
    width: 85%; /*etait 80*/
    margin: auto;
}
body{
    font-family: 'Varela Round', sans-serif;
}
.clear{
    clear: both;
}
h1,h2,h3,h4,h5,h6{
    font-family: montserrat,sans-serif;
}
button{
    font-family:  'Varela Round', sans-serif ;
}
a{
    text-decoration: none;
}
.pd-y{
   padding: 120px 0;
}
.section-header{
    text-align: center;
    margin-bottom: 20px;
}
.section-header .section-title{
    font-size: 35px;
    text-transform: capitalize;
    margin-bottom: 10px;
}
.section-header .line{
    display: block;
    height: 4px;
    width: 60px;
    background-color: #6195ff;
    margin: 0 auto 70px auto;
}
/* 3- Sections Styles */
/* 3.0- Header Section */
.header{
    position: fixed;
    width: 100%;
    z-index:2 ;
}
.header .nav{
    width: 30%;
    float: right;
    list-style: none;
    text-align: right;
}
.header .nav > li{
    display: inline-block;
}
.header .nav > li > a{
    color: #fff;
    padding: 20px 10px;
    display: block;
    font-size: 15px;
}

.header .nav > li > a.active::after,
.header .nav > li > a::after{
    content: "";
    display:  block;
    height: 3px;
    margin-top: 2px;
    background-color: #6195ff;
    transition: width 0.5s;
}
.header .nav > li > a.active::after{
    width: 100%;
}
.header .nav > li > a::after{
    width: 0%;
}
.header .nav > li > a:hover::after{
    width: 100%;
}

.dropdown{
    position: relative;
}
.dropdown-menu{
    position: absolute;
    width: 116px;
    text-align: center;
    left: -50%;
    top: 70%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s , visibility 1s;
}
.dropdown-menu li a{
    color: #fff;
    background-color: #6195ff;
    display: block;
    padding: 7px;
}
.dropdown:hover .dropdown-menu{
    opacity:1 ;
    visibility: visible;
}
/* 3.0.1 Version Mobile Header */
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 100px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }
  @media (max-width: 858px){
    .checkbtn{
      display: block;
    }
    .header .nav {
      position: fixed;
      width: 90%;
      height: 100vh;
      background: #2c3e50;
      top: 65px;
      left: -100%;
      text-align: center;
      transition: all .5s;  
    }
    .header .nav li{
      display: block;
      line-height: 30px;
    }
    .header .nav li a{
      font-size: 15px;
    }
    #check:checked ~ ul{
      left: 0;
    }
  }
/* 3.1 Home Section */
.home{
    height: 100vh;
    background-image: url( ../../../assets/images/background/informatique.jpg);
    background-size: cover;
    position: relative;
}
/* overlay sur la section common leur role est d'ajouter layer un couleur au dessus de background avec la 
position relative (pour parent) et absolute (pour le fils) */

.home-content{
    position: absolute;
    width: 65%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.home .title{
    color: white;
    font-size: 3.5rem;
    text-transform: uppercase;
} 
.home .home-desc{
    margin: 20px 0;
    color: white;
    letter-spacing: 2px;
    line-height: 1.5 ;
}
.home .btn{
    width: 15%;
    height :45px;
    padding: 10px 0;
    border-radius: 6px;
    border :0;
    cursor: pointer;
    font-size: 15px;
}
.home .btn-start{
    margin-right: 10px;
    background-color: white;
}
.home .btn-learn{
    background-color: #6195ff;
    color: white;
}
/* 3.1.1 Version Mobile Home */
@media (max-width: 858px){
    .home .title{
        font-size: 1.5rem;
    }
    .home .home-desc{
        margin: 20px 0;
        letter-spacing: 1px;
        line-height: 1.5 ;
        font-size: 0.8rem;
    }
    .home .btn{
        width: 38%;
        height :35px;
        padding: 5px 0;
        font-size: 12px;
        margin: auto auto 10px auto;
        display: block;
    }
}



/* 3.4.2 Services Section */
.service{
    background: #f9f9f9;
}
.service-item{
    width: 50%;
    float: left;
}
.service-item .section-header{
    text-align: left;
}
.service-item .section-header .line{
    margin:0 0 40px 0;
}
.service-item-desc{
    padding-right: 20px;
    color: #999;
    line-height: 1.5;
    font-size: 17px;
    margin-bottom: 20px;
}
.service-list{
    list-style: none;
}
.service-list li{
    margin-bottom: 10px;
    color: #999;
}
.service-list li i{
   border: 1px solid #6195ff;
   color: #6195ff;
   width: 30px;
   height: 30px;
   padding: 7px;
   border-radius: 50%;
}

.service-item-img img{
    width: 100%;
}
.service-bollets{
    list-style: none;
    text-align: center;
}
.service-bollets li{
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: #e8e8e8;
    margin: 10px 5px;
    border-radius: 50%;
}
.service-bollets li.active{
    background-color: #6195ff;
}
.service-bollets li:hover{
    background-color: #6195ff;
}
/* 3.4.3 Version Mobile Offers */
@media (max-width: 858px){
    .offer-content{
            transform: translate(13%,10%);
        }
    .offer-item {
        display: block;
        float: none;
        width: 70%;
        align-content: center;
    }
    .offer-item-title{
        font-size: 18px;
    }
    .offer-item.mg{
        margin: 5% 0%;
    }
    .section-header .section-title{
        font-size: 25px;
    }
    .section-header .line{
        height: 3px;
        width: 50px;
    }
    /* service */
    .service-item{
        width: 100%;
        float: none;
        display: block;
    }
    .service-list li{
        font-size: 15px;
    }
}

.footer {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #2c3e50;
    color: #fff;
  }
  
  .copyright {
    background-color: #1a252f;
  }

  *{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

/* Table Styles */

.table-wrapper{
    margin: 10px 70px 70px;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
}

.fl-table {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
}

.fl-table td, .fl-table th {
    text-align: center;
    padding: 8px;
}

.fl-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 12px;
}

.fl-table thead th {
    color: #ffffff;
    background: #4FC3A1;
}


.fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background: #324960;
}

.fl-table tr:nth-child(even) {
    background: #F8F8F8;
}

/* Responsive */

@media (max-width: 767px) {
    .fl-table {
        display: block;
        width: 100%;
    }
    .table-wrapper:before{
        content: "Scroll horizontally >";
        display: block;
        text-align: right;
        font-size: 11px;
        color: white;
        padding: 0 0 10px;
    }
    .fl-table thead, .fl-table tbody, .fl-table thead th {
        display: block;
    }
    .fl-table thead th:last-child{
        border-bottom: none;
    }
    .fl-table thead {
        float: left;
    }
    .fl-table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }
    .fl-table td, .fl-table th {
        padding: 20px .625em .625em .625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 120px;
        font-size: 13px;
        text-overflow: ellipsis;
    }
    .fl-table thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }
    .fl-table tbody tr {
        display: table-cell;
    }
    .fl-table tbody tr:nth-child(odd) {
        background: none;
    }
    .fl-table tr:nth-child(even) {
        background: transparent;
    }
    .fl-table tr td:nth-child(odd) {
        background: #F8F8F8;
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tr td:nth-child(even) {
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tbody td {
        display: block;
        text-align: center;
    }
}

.UpdateDelete {
    padding: 1.3em 3em;
    font-size: 8px;
    text-transform: uppercase;
    letter-spacing: 2.2px;
    font-weight: 900;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
   }
   
   .UpdateDelete:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
   }
   
   .UpdateDelete:active {
    transform: translateY(-1px);
   }

   .animate-bottom {
    position: relative;
    animation: animatebottom 0.4s;
  }
  
  @keyframes animatebottom {
    from {
      bottom: -300px;
      opacity: 0;
    }
  
    to {
      bottom: 0;
      opacity: 1;
    }
  }